@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


.counter::after
{
    content: '%';
    position: absolute;
    top: 0;
    left:100%;
    padding-left: 5px;
}
.theams
{
    /* animation: change 20s infinite linear ; */
    background: radial-gradient(circle ,#4a00a8 5% , black 90%);


}


p{word-spacing: 6px;}
.boxp{word-spacing: 1px;}
.heading
{
    opacity: 0.1;
    border: none;
}
#h1{ word-spacing: 4.5vw;}
#h2{ word-spacing: 1vw;}
#h3{ word-spacing: 1.2vw;}
#h4{word-spacing: 1vw;}
#h5{word-spacing: 1.2vw;}
#h6{ word-spacing: .5vw;}
.imagetext{
    position: relative;
    min-height: 200vh;
    width: 100%;
    background-position:top;
    background-size: cover; 
    background-repeat: no-repeat;
    background-image: url('https://findyourvana.com/_next/static/chunks/images/microdose-cover_w1920.webp');
}